<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/style.css' />
    <title>Base template</title>
</head>
<body>
 <div class="navbar">
        <a href="{{ url_for('dictionary') }}">Dictionary</a>
        <a href="{{ url_for('phonology') }}">Phonology</a>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('inflections') }}">Inflections</a>
        <a href="{{ url_for('texts') }}">Texts</a>
</div>
<hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <lightp>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </lightp>
        <hr>
        {% endif %}
        {% endwith %}
{% block content %}{% endblock %}
</body>
</html>