<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing {{ word.word }}</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <h1>Create a new word</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

            <h2>
                {{ form.word.label }}<br>{{ form.word(size=16) }}
                {% for error in form.word.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </h2>
            <p> {{ form.conscript.label }}<br>{{ form.conscript(size=16) }}
                {% for error in form.word.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

        <p> {{ form.etymology.label }}<br>{{ form.etymology(size=16) }}
                {% for error in form.word.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        <p> {{ form.pronunciation.label }}<br>{{ form.pronunciation(size=16) }}
                {% for error in form.word.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.definition.label }}<br>{{ form.definition(size=48) }}
                {% for error in form.definition.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p><br>
        <p> {{ form.notes.label }}<br>{{ form.notes(size=48) }}
                {% for error in form.word.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                Part of speech<br>
                <select name="posselect">
                    {% for n in pos %}
                        {% if n == word.partofspeech %}
                            <option value="{{n}}" SELECTED>{{ n }}</option>
                        {% else %}
                            <option value="{{n}}">{{ n }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            <p> {{ form.wordclass.label }}<br>{{ form.wordclass(size=16) }}
                {% for error in form.word.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        {% if word.partofspeech == "Verb" %}
        <p> {{ form.irregular.label }}<br>{{ form.irregular(size=48) }}
                {% for error in form.irregular.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        <p>Irregular forms</p>
        <p style="color:red; font-size: 12pt;">Note: Your irregular forms will not save if the irregular box is not ticked!</p>
        <table>
        <tbody>
        <tr>
            <td style="background-color: #c0cfe4;"></td>
            <td style="background-color: #c0cfe4;"><b>First-Person Singular</b></td>
            <td style="background-color: #c0cfe4;"><b>Second-Person Singular</b></td>
            <td style="background-color: #c0cfe4;"><b>Generic</b></td>
        </tr>
        {% for row in inf %}
        <tr>
            <td style="background-color: #c0cfe4;">
                <b>{{ row.aspect }}</b>
            </td>
            <td>
                {% if word.irregular %}
                    <input type="text" name="{{ row.aspect }} 1s" value="{{ irf[inf.index(row)].fs }}">
                {% else %}
                    <input type="text" name="{{ row.aspect }} 1s" value="">
                {% endif %}
            </td>
            <td>
                {% if word.irregular %}
                    <input type="text" name="{{ row.aspect }} 2s" value="{{ irf[inf.index(row)].ss }}">
                {% else %}
                    <input type="text" name="{{ row.aspect }} 2s" value="">
                {% endif %}
            </td>
            <td>
                {% if word.irregular %}
                    <input type="text" name="{{ row.aspect }} gen" value="{{ irf[inf.index(row)].other }}">
                {% else %}
                    <input type="text" name="{{ row.aspect }} gen" value="">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% if word.partofspeech == "Noun" %}
        <p> {{ form.irregular.label }}<br>{{ form.irregular(size=48) }}
                {% for error in form.irregular.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        <p>Irregular forms</p>
        <table>
        <tbody>
        <tr>
            <td></td>
            <td><b>Nominative</b></td>
            <td><b>Accusative</b></td>
            <td><b>Genitive</b></td>
            <td><b>Dative</b></td>
            <td><b>Oblique</b></td>
        </tr>
        <tr>
            <td>
                <b>Singular</b>
            </td>
            <td><input type="text" name="SG NOM" value="{{ SG.NOM }}"></td>
            <td><input type="text" name="SG ACC" value="{{ SG.ACC }}"></td>
            <td><input type="text" name="SG GEN" value="{{ SG.GEN }}"></td>
            <td><input type="text" name="SG DAT" value="{{ SG.DAT }}"></td>
            <td><input type="text" name="SG OBL" value="{{ SG.OBL }}"></td>
        </tr>
        <tr>
            <td>
                <b>Plural</b>
            </td>
            <td><input type="text" name="PL NOM" value="{{ PL.NOM }}"></td>
            <td><input type="text" name="PL ACC" value="{{ PL.ACC }}"></td>
            <td><input type="text" name="PL GEN" value="{{ PL.GEN }}"></td>
            <td><input type="text" name="PL DAT" value="{{ PL.DAT }}"></td>
            <td><input type="text" name="PL OBL" value="{{ PL.OBL }}"></td>
        </tr>
        </tbody>
    </table>
    {% endif %}

        <p> {{ form.esubmit(class_="grb") }} </p>
    </form>
{% endblock %}
</body>
</html>