<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate {{ match.title }}</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <h1>Translate text</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

            <h2>
                {{ form.title.label }}<br>{{ form.title(size=100) }}
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </h2>
            <p>Status<br>
                <select name="status">
                    {% for n in status %}
                        <option value="{{n}}" SELECTED>{{ n }}</option>
                    {% endfor %}
                </select>
            </p>
            <p> {{ form.submit(class_="grb gena") }} </p>
            {% for portion in splits %}
            <h2s>{{ portion }}</h2s><br>
            <p><input type="text" name="translated" value="{{ tsplits[splits.index(portion)] }} "><br></p>
            {% endfor %}
    </form>
{% endblock %}
</body>
</html>