<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phonological inventory</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>Dictionary</h1>
        <p><form action="" method="post" novalidate style="text-align:center, margin:auto">
            {{ form.hidden_tag() }}
            <table>
                <tbody>
                <tr>
                    <td></td>
                    <td>Bilabial</td>
                    <td>Labiodental</td>
                    <td>Dental</td>
                    <td>Alveolar</td>
                    <td>Post-alveolar</td>
                    <td>Palatal</td>
                    <td>Velar</td>
                    <td>Glottal</td>
                </tr>
                <tr>
                    <td>Nasal</td>
                    <td><div id="ipa-button"><label>{{ form.nbilnas(size=16, class_="grb") }}<span>m̥</span></label>
                        <br><label>{{ form.vbilnas(size=16, class_="grb") }}<span>m</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nladnas(size=16, class_="grb") }}<span>ɱ̊</span></label>
                        <br><label>{{ form.vladnas(size=16, class_="grb") }}<span>ɱ</span></label></div></td>
                    <td colspan="3"><div id="ipa-button"><label>{{ form.nalvnas(size=16, class_="grb") }}<span>n̥</span></label>
                        <br><label>{{ form.valvnas(size=16, class_="grb") }}<span>n</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.npalnas(size=16, class_="grb") }}<span>ɲ̊</span></label>
                        <br><label>{{ form.vpalnas(size=16, class_="grb") }}<span>ɲ</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nvelnas(size=16, class_="grb") }}<span>ŋ̊</span></label>
                        <br><label>{{ form.vvelnas(size=16, class_="grb") }}<span>ŋ</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nglonas(size=16, class_="grb") }}<span>ɴ̥</span></label>
                        <br><label>{{ form.vglonas(size=16, class_="grb") }}<span>ɴ</span></label></div></td>
                </tr>
                <tr>
                    <td>Plosive</td>
                    <td><div id="ipa-button"><label>{{ form.nbilplo(size=16, class_="grb") }}<span>p</span></label>
                        <br><label>{{ form.vbilplo(size=16, class_="grb") }}<span>b</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nladplo(size=16, class_="grb") }}<span>p̪</span></label>
                        <br><label>{{ form.vladplo(size=16, class_="grb") }}<span>b̪</span></label></div></td>
                    <td colspan="3"><div id="ipa-button"><label>{{ form.nalvplo(size=16, class_="grb") }}<span>t</span></label>
                        <br><label>{{ form.valvplo(size=16, class_="grb") }}<span>d</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.npalplo(size=16, class_="grb") }}<span>c</span></label>
                        <br><label>{{ form.vpalplo(size=16, class_="grb") }}<span>ɟ</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nvelplo(size=16, class_="grb") }}<span>k</span></label>
                        <br><label>{{ form.vvelplo(size=16, class_="grb") }}<span>g</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.ngloplo(size=16, class_="grb") }}<span>ʔ̥</span></label></div></td>
                </tr>
                <tr>
                    <td>Sibilant affricate</td>
                    <td colspan="3" class="graybg"></td>
                    <td colspan="2"><div id="ipa-button"><label>{{ form.nalvsaf(size=16, class_="grb") }}<span>ts</span></label>
                        <br><label>{{ form.valvsaf(size=16, class_="grb") }}<span>dz</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.npavsaf(size=16, class_="grb") }}<span>tʃ</span></label>
                        <br><label>{{ form.vpavsaf(size=16, class_="grb") }}<span>dʒ</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.npalsaf(size=16, class_="grb") }}<span>tɕ</span></label>
                        <br><label>{{ form.vpalsaf(size=16, class_="grb") }}<span>dʑ</span></label></div></td>
                    <td colspan="2" class="graybg"></td>
                </tr>
                <tr>
                    <td>Sibilant fricative</td>
                    <td colspan="3" class="graybg"></td>
                    <td colspan="2"><div id="ipa-button"><label>{{ form.nalvsif(size=16, class_="grb") }}<span>s</span></label>
                        <br><label>{{ form.valvsif(size=16, class_="grb") }}<span>z</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.npavsif(size=16, class_="grb") }}<span>ʃ</span></label>
                        <br><label>{{ form.vpavsif(size=16, class_="grb") }}<span>ʒ</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.npalsif(size=16, class_="grb") }}<span>ɕ</span></label>
                        <br><label>{{ form.vpalsif(size=16, class_="grb") }}<span>ʑ</span></label></div></td>
                    <td colspan="2" class="graybg"></td>
                </tr>
                <tr>
                    <td>Non-sibilant fricative</td>
                    <td><div id="ipa-button"><label>{{ form.nbilnsf(size=16, class_="grb") }}<span>ɸ</span></label>
                        <br><label>{{ form.vbilnsf(size=16, class_="grb") }}<span>β</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nladnsf(size=16, class_="grb") }}<span>f</span></label>
                        <br><label>{{ form.vladnsf(size=16, class_="grb") }}<span>v</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.ndennsf(size=16, class_="grb") }}<span>θ</span></label>
                        <br><label>{{ form.vdennsf(size=16, class_="grb") }}<span>ð</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nalvnsf(size=16, class_="grb") }}<span>θ̠</span></label>
                        <br><label>{{ form.valvnsf(size=16, class_="grb") }}<span>ð̠</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nposnsf(size=16, class_="grb") }}<span>ɹ̠̊˔</span></label>
                        <br><label>{{ form.vposnsf(size=16, class_="grb") }}<span>ɹ̠˔</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.npalnsf(size=16, class_="grb") }}<span>ç</span></label>
                        <br><label>{{ form.vpalnsf(size=16, class_="grb") }}<span>ʝ</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nvelnsf(size=16, class_="grb") }}<span>x</span></label>
                        <br><label>{{ form.vvelnsf(size=16, class_="grb") }}<span>ɣ</span></label></div></td>
                    <td><div id="ipa-button"><label>{{ form.nglonsf(size=16, class_="grb") }}<span>h</span></label>
                        <br><label>{{ form.vglonsf(size=16, class_="grb") }}<span> ɦ</span></label></div></td>
                </tr>
                <tr>
                    <td>Approximant</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tap/flap</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Trill</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lateral approximant</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </form>
        {{ form.submit(class_="grb") }}</p>
        {% endblock %}
    </body>
</html>