<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phonological inventory</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<h1>Phonological inventory manager</h1>
<p>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table>
        <tbody>
        <tr>
            <td></td>
            <td>Bilabial</td>
            <td>Labiodental</td>
            <td>Dental</td>
            <td>Alveolar</td>
            <td>Post-alveolar</td>
            <td>Palatal</td>
            <td>Velar</td>
            <td>Glottal</td>
        </tr>
        <tr>
            <td>Nasal</td>
            <td>
                <div class="ipa-button"><label>{{ form.nbilnas(size=16, class_="grb") }}<span>m̥</span></label>
                    <br><label>{{ form.vbilnas(size=16, class_="grb") }}<span>m</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nladnas(size=16, class_="grb") }}<span>ɱ̊</span></label>
                    <br><label>{{ form.vladnas(size=16, class_="grb") }}<span>ɱ</span></label></div>
            </td>
            <td colspan="3">
                <div class="ipa-button"><label>{{ form.nalvnas(size=16, class_="grb") }}<span>n̥</span></label>
                    <br><label>{{ form.valvnas(size=16, class_="grb") }}<span>n</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.npalnas(size=16, class_="grb") }}<span>ɲ̊</span></label>
                    <br><label>{{ form.vpalnas(size=16, class_="grb") }}<span>ɲ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nvelnas(size=16, class_="grb") }}<span>ŋ̊</span></label>
                    <br><label>{{ form.vvelnas(size=16, class_="grb") }}<span>ŋ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nglonas(size=16, class_="grb") }}<span>ɴ̥</span></label>
                    <br><label>{{ form.vglonas(size=16, class_="grb") }}<span>ɴ</span></label></div>
            </td>
        </tr>
        <tr>
            <td>Plosive</td>
            <td>
                <div class="ipa-button"><label>{{ form.nbilplo(size=16, class_="grb") }}<span>p</span></label>
                    <br><label>{{ form.vbilplo(size=16, class_="grb") }}<span>b</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nladplo(size=16, class_="grb") }}<span>p̪</span></label>
                    <br><label>{{ form.vladplo(size=16, class_="grb") }}<span>b̪</span></label></div>
            </td>
            <td colspan="3">
                <div class="ipa-button"><label>{{ form.nalvplo(size=16, class_="grb") }}<span>t</span></label>
                    <br><label>{{ form.valvplo(size=16, class_="grb") }}<span>d</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.npalplo(size=16, class_="grb") }}<span>c</span></label>
                    <br><label>{{ form.vpalplo(size=16, class_="grb") }}<span>ɟ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nvelplo(size=16, class_="grb") }}<span>k</span></label>
                    <br><label>{{ form.vvelplo(size=16, class_="grb") }}<span>g</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.ngloplo(size=16, class_="grb") }}<span>ʔ̥</span></label></div>
            </td>
        </tr>
        <tr>
            <td>Sibilant affricate</td>
            <td colspan="3" class="graybg"></td>
            <td colspan="2">
                <div class="ipa-button"><label>{{ form.nalvsaf(size=16, class_="grb") }}<span>ts</span></label>
                    <br><label>{{ form.valvsaf(size=16, class_="grb") }}<span>dz</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.npavsaf(size=16, class_="grb") }}<span>tʃ</span></label>
                    <br><label>{{ form.vpavsaf(size=16, class_="grb") }}<span>dʒ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.npalsaf(size=16, class_="grb") }}<span>tɕ</span></label>
                    <br><label>{{ form.vpalsaf(size=16, class_="grb") }}<span>dʑ</span></label></div>
            </td>
            <td colspan="2" class="graybg"></td>
        </tr>
        <tr>
            <td>Sibilant fricative</td>
            <td colspan="3" class="graybg"></td>
            <td colspan="2">
                <div class="ipa-button"><label>{{ form.nalvsif(size=16, class_="grb") }}<span>s</span></label>
                    <br><label>{{ form.valvsif(size=16, class_="grb") }}<span>z</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.npavsif(size=16, class_="grb") }}<span>ʃ</span></label>
                    <br><label>{{ form.vpavsif(size=16, class_="grb") }}<span>ʒ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.npalsif(size=16, class_="grb") }}<span>ɕ</span></label>
                    <br><label>{{ form.vpalsif(size=16, class_="grb") }}<span>ʑ</span></label></div>
            </td>
            <td colspan="2" class="graybg"></td>
        </tr>
        <tr>
            <td>Non-sibilant fricative</td>
            <td>
                <div class="ipa-button"><label>{{ form.nbilnsf(size=16, class_="grb") }}<span>ɸ</span></label>
                    <br><label>{{ form.vbilnsf(size=16, class_="grb") }}<span>β</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nladnsf(size=16, class_="grb") }}<span>f</span></label>
                    <br><label>{{ form.vladnsf(size=16, class_="grb") }}<span>v</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.ndennsf(size=16, class_="grb") }}<span>θ</span></label>
                    <br><label>{{ form.vdennsf(size=16, class_="grb") }}<span>ð</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nalvnsf(size=16, class_="grb") }}<span>θ̠</span></label>
                    <br><label>{{ form.valvnsf(size=16, class_="grb") }}<span>ð̠</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nposnsf(size=16, class_="grb") }}<span>ɹ̠̊˔</span></label>
                    <br><label>{{ form.vposnsf(size=16, class_="grb") }}<span>ɹ̠˔</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.npalnsf(size=16, class_="grb") }}<span>ç</span></label>
                    <br><label>{{ form.vpalnsf(size=16, class_="grb") }}<span>ʝ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nvelnsf(size=16, class_="grb") }}<span>x</span></label>
                    <br><label>{{ form.vvelnsf(size=16, class_="grb") }}<span>ɣ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.nglonsf(size=16, class_="grb") }}<span>h</span></label>
                    <br><label>{{ form.vglonsf(size=16, class_="grb") }}<span> ɦ</span></label></div>
            </td>
        </tr>
        <tr>
            <td>Approximant</td>
            <td class="graybg"></td>
            <td>
                <div class="ipa-button"><label>{{ form.vladapr(size=16, class_="grb") }}<span>ʋ</span></label></div>
            </td>
            <td colspan="3">
                <div class="ipa-button"><label>{{ form.valvapr(size=16, class_="grb") }}<span>ɹ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.vpalapr(size=16, class_="grb") }}<span>j</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.vvelapr(size=16, class_="grb") }}<span>ɰ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.vgloapr(size=16, class_="grb") }}<span>ʔ̞</span></label></div>
            </td>
        </tr>
        <tr>
            <td>Tap/flap</td>
            <td>
                <div class="ipa-button"><label>{{ form.vbiltap(size=16, class_="grb") }}<span>ⱱ̟</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.vladtap(size=16, class_="grb") }}<span>ⱱ</span></label></div>
            </td>
            <td colspan="3">
                <div class="ipa-button"><label>{{ form.nalvtap(size=16, class_="grb") }}<span>ɾ̥</span></label>
                    <br><label>{{ form.valvtap(size=16, class_="grb") }}<span>ɾ</span></label></div>
            </td>
            <td colspan="3" class="graybg"></td>
        </tr>
        <tr>
            <td>Trill</td>
            <td>
                <div class="ipa-button"><label>{{ form.nbiltri(size=16, class_="grb") }}<span>ʙ̥</span></label>
                    <br><label>{{ form.vbiltri(size=16, class_="grb") }}<span>ʙ</span></label></div>
            </td>
            <td class="graybg"></td>
            <td colspan="3">
                <div class="ipa-button"><label>{{ form.nalvtri(size=16, class_="grb") }}<span>r̥</span></label>
                    <br><label>{{ form.valvtri(size=16, class_="grb") }}<span>r</span></label></div>
            </td>
            <td colspan="3" class="graybg"></td>
        </tr>
        <tr>
            <td>Lateral approximant</td>
            <td colspan="2" class="graybg"></td>
            <td colspan="3">
                <div class="ipa-button"><label>{{ form.valvlap(size=16, class_="grb") }}<span>l</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.vpallap(size=16, class_="grb") }}<span>ʎ</span></label></div>
            </td>
            <td>
                <div class="ipa-button"><label>{{ form.vvellap(size=16, class_="grb") }}<span>ʟ</span></label></div>
            </td>
            <td class="graybg"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <table>
        <tbody>
        <tr>
            <td></td>
            <td>Front</td>
            <td>Central</td>
            <td>Back</td>
        </tr>
        <tr>
            <td>Close</td>
            <td> <div class="ipa-button"><label>{{ form.nbilnsf(size=16, class_="grb") }}<span>ɸ</span></label>
                    <br><label>{{ form.vbilnsf(size=16, class_="grb") }}<span>β</span></label></div></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Near-close</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Close-mid</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Mid</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Open-mid</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Near-open</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Open<br></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <h3>{{ form.submit(class_="grb gena") }}</h3>
</form>
{% endblock %}
</body>
</html>