<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ match.title }}</title>
</head>
    <body>
        {% extends "base.html" %}
        {% block content %}<br>
        <wordh1>{{ match.title }}</wordh1>
        <a href="{{ url_for('modifytext', id=match.id) }}">[edit]</a>
        <a href="{{ url_for('deletetext', id=match.id) }}">[delete]</a><hr>
        <wordh2>Progress: </wordh2><wordp>{{ match.status }}</wordp><br><br>
        <wordh2>Original text</wordh2><br><wordp>{{ match.content }}</wordp><br><br>
        <wordh2>Translation</wordh2><br><wordp>{{ match.translation }}</wordp><br><br>
        {% endblock %}
    </body>
</html>