<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary - {{ term }}</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>{{ title }}</h1>
        <h3 style="text-align:center, margin:auto"><a href="{{ url_for('texts') }}">⋘ Return to search page</a></h3>
        <hr>
        {% for match in matches %}
            {% if match.status == 'Checklist' %}
                <a href="{{ url_for('editchecklist', id=match.id) }}"><h2>{{ match.title }}</h2></a><lightp>Checklist</lightp>
            {% else %}
                <a href="{{ url_for('readtext', id=match.id) }}"><h2>{{ match.title }}</h2></a><lightp>{{ match.status }} translatable text</lightp>
            {% endif %}
        {% endfor %}
        {% endblock %}
    </body>
</html>