<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ word.word }}</title>
</head>
    <body>
        {% extends "base.html" %}
        {% block content %}<br>
        <wordh1>{{ word.word }}</wordh1>
        <a href="{{ url_for('modifyword', name=word.word) }}">[edit]</a>
        <a href="{{ url_for('deleteword', name=word.word) }}">[delete]</a><hr>
        {% if word.etymology != "" %}
            <wordh2>Etymology</wordh2><br>
            <wordp>{{ word.etymology }}</wordp><br><br>
        {% endif %}
        <wordh2>Pronunciation</wordh2><br>
        <wordp>IPA: /{{ word.pronunciation }}/<br>Orthography: {{ word.conscript }}</wordp><br><br>
        <wordh2>{{ word.partofspeech }}
        {% if word.irregular %}
         (irregular)
        {% endif %}</wordh2><br>
        <wordp>{{ word.definition }}</wordp><br><br>
        {% if word.notes != "" %}
            <wordh2>Notes</wordh2><br>
            <wordp>{{ word.notes }}</wordp>
        {% endif %}<br>
        {% if word.partofspeech == "Verb" %}
        <br><wordh2>Inflections</wordh2>
        <table class="inftable">
        <tbody>
        <tr>
            <td style="background-color: #c0cfe4;"></td>
            <td style="background-color: #c0cfe4;"><b>First-Person Singular</b></td>
            <td style="background-color: #c0cfe4;"><b>Second-Person Singular</b></td>
            <td style="background-color: #c0cfe4;"><b>Generic</b></td>
        </tr>
        {% for row in inf %}
        <tr>
            <td style="background-color: #c0cfe4;">
                <b>{{ row.aspect }}</b>
            </td>
            <td>
                {% if irf[inf.index(row)].fs != "" %}
                    {{ irf[inf.index(row)].fs }}
                {% else %}
                    {{ word.word }}{{ row.fs }}
                {% endif %}
            </td>
            <td>
                {% if irf[inf.index(row)].ss != "" %}
                    {{ irf[inf.index(row)].ss }}
                {% else %}
                    {{ word.word }}{{ row.ss }}
                {% endif %}
            </td>
            <td>
                {% if irf[inf.index(row)].other != ""  %}
                    {{ irf[inf.index(row)].other }}
                {% else %}
                    {{ word.word }}{{ row.other }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% if word.partofspeech == "Noun" %}
        <br><wordh2>Inflections</wordh2>
        <table class="inftable">
        <tbody>
        <tr>
            <td style="background-color: #c0cfe4;"></td>
            <td style="background-color: #c0cfe4;"><b>Nominative</b></td>
            <td style="background-color: #c0cfe4;"><b>Accusative</b></td>
            <td style="background-color: #c0cfe4;"><b>Genitive</b></td>
            <td style="background-color: #c0cfe4;"><b>Dative</b></td>
            <td style="background-color: #c0cfe4;"><b>Oblique</b></td>
        </tr>
        <tr>
            <td style="background-color: #c0cfe4;">
                <b>Singular</b>
            </td>
            <td>
                {% if irf[0].NOM %}
                    {{ irf[0].NOM }}
                {% else %}
                    {{ word.word }}{{ inf[0].NOM }}
                {% endif %}
            </td>
            <td>
                {% if irf[0].ACC %}
                    {{ irf[0].ACC }}
                {% else %}
                    {{ word.word }}{{ inf[0].ACC }}
                {% endif %}
            </td>
            <td>
                {% if irf[0].GEN %}
                    {{ irf[0].GEN }}
                {% else %}
                    {{ word.word }}{{ inf[0].GEN }}
                {% endif %}
            </td>
            <td>
                {% if irf[0].DAT %}
                    {{ irf[0].DAT }}
                {% else %}
                    {{ word.word }}{{ inf[0].DAT }}
                {% endif %}
            </td>
            <td>
                {% if irf[0].OBL %}
                    {{ irf[0].OBL }}
                {% else %}
                    {{ word.word }}{{ inf[0].OBL }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="background-color: #c0cfe4;">
                <b>Plural</b>
            </td>
            <td>
                {% if irf[1].NOM != "" %}
                    {{ irf[1].NOM }}
                {% else %}
                    {{ word.word }}{{ inf[1].NOM }}
                {% endif %}
            </td>
            <td>
                {% if irf[1].ACC != "" %}
                    {{ irf[1].ACC }}
                {% else %}
                    {{ word.word }}{{ inf[1].ACC }}
                {% endif %}
            </td>
            <td>
                {% if irf[1].GEN != "" %}
                    {{ irf[1].GEN }}
                {% else %}
                    {{ word.word }}{{ inf[1].GEN }}
                {% endif %}
            </td>
            <td>
                {% if irf[1].DAT != "" %}
                    {{ irf[1].DAT }}
                {% else %}
                    {{ word.word }}{{ inf[1].DAT }}
                {% endif %}
            </td>
            <td>
                {% if irf[1].OBL != "" %}
                    {{ irf[1].OBL }}
                {% else %}
                    {{ word.word }}{{ inf[1].OBL }}
                {% endif %}
            </td>
        </tr>
        </tbody>
        </table>
        {% endif %}
        {% endblock %}
    </body>
</html>